{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/faq.css' %}" rel="stylesheet">
    <title>О нас</title>
</head>
<body>
    <div class="main-container">
        <div class="about-project">
            <div class="first-container">123</div>
        </div>
        <div class="about-language">
            <div class="first-container">123</div>
        </div>
        <div class="for-who">
            <div class="first-container">123</div>
        </div>
    </div>
</body>
</html>